/* Base Styles */
.container {
  max-width: 900px;
}

/* Navbar */
@media (min-width: 768px) {
  nav .container {
    padding: 0px;
  }
}

.no-transition {
  -webkit-transition: height 0.0001s ease;
          transition: height 0.0001s ease;
}


/* Home Body */
.center-img {
  margin-left: auto;
  margin-right: auto;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black; }

.page-header {
  margin-top: 25px;
}

.portfolio-item-title {
  margin-bottom: 25px;
}

.home-header {
  border: none;
}

@media (min-width: 768px) {
  .jst-twitter iframe {
    width: 100%;
  }
}

footer {
  margin-bottom: 25px;
}

.portfolio-img {
  margin-bottom: 20px;
}
